@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background-color:#24292E;
  font-family: "Kumbh Sans", sans-serif;  
  text-align: center;    
  padding-bottom: 100px;
}

main {
  display: flex;  
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 0;      
}

.div-icon-a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.icon-a {
  background: linear-gradient(45deg, #24292E, #00F, #0F0, #F00, #24292E);
	background-size: 400% 400%;
  animation: gradient 4s linear infinite;
  border-radius: 50%;
  padding: 1px;
}

.devicon-github-original {
  font-size: 60px;
  color: #FFF;
  border-radius: 50%;
  background-color: #24292E;
}

.devicon-github-original {
  font-size: 60px;
  color: gray;
}

.section {
  padding: 70px 0;
}

.container {
  width: 60%;
  max-width: 960px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
}

.container header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.container header h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  cursor: default;
}

.container header #input-search {
  width: 400px;
  font-size: 17px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid grey;
  outline: none;
}

.container header #btn-search {
  width: 200px;
  font-size: 17px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 7px;  
  cursor: pointer;
  border: 1px solid grey;
  transition: .3s ease-in-out;
}

.container header #btn-search:hover {
  background: linear-gradient(45deg, #FFF, #00F, #0F0, #F00, #FFF);
	background-size: 400% 400%;
  animation: gradient 4s linear infinite;
  color: #FFF;
}

.container .profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;  
}

.container .profile-data .info {
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
}

.container .profile-data .info .data {
  padding: 40px;
  width: 50%;
}

.container .profile-data .info .fundo-img {
  width: 50%;
  display: flex;
  border-radius: 50%;
  border: 5px solid transparent;
  background: linear-gradient(45deg, #FFF, #00F, #0F0, #F00, #FFF);
	background-size: 400% 400%;
  animation: gradient 4s linear infinite;
}

.container .profile-data .info img {
  width: 100%;
  background-color: #FFF;
  border-radius: 50%;

}

.container .profile-data .info h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.container .profile-data .info h2 {
  margin-bottom: 20px;
}

.container .profile-data .info p {
  font-size: 15px;  
  font-weight: 400;
  line-height: 23px;
}

.container .profile-data .repositories h2,
.container .profile-data .events h2 {
  font-weight: 700;
  color: #24292E;
  text-align: center;
  margin-bottom: 30px;
}

.container .profile-data .repositories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.container .profile-data .repositories ul li {
  display: flex;
  background: linear-gradient(45deg, #24292E, #00F, #0F0, #F00, #24292E);
	background-size: 400% 400%;
  animation: gradient 4s linear infinite;
  border-radius: 7px;
  padding: 1px;
}

.container .profile-data .repositories ul li a {
  display: block;
  color: #24292E;
  background-color: #FFF;
  border-radius: 7px 0;
  transition: 0.3s ease-in-out;
  padding: 10px; 
}

.container .profile-data .repositories tbody {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.container .profile-data .repositories th {
  font-weight: 700;
  text-transform: uppercase;
}

.container .profile-data .repositories td {
  background-color: #6A5ACD;
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  transition: .3s ease-in-out;
}

.container .profile-data .repositories ul li a:hover {
  background-color: #6A5ACD;
  color: #FFF;
  border-radius: 7px;
}

.container .profile-data .repositories ul li a:hover td {
  background-color: #FFF;
  color: #000;
}

.container .profile-data.hide {
  display: none;
}

.container .profile-data .events li {
  color: dimgray;
}

.container .profile-data .events li span {
  color: #24292E;
  font-weight: 700;
  padding-right: 15px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}